/* USAMA NEW CSS START*/

.hatzs-home-page-services {
  margin-top: 120px;
}

.hatzs-services-wrapper {
  margin-top: 40px;
}

.hatzs-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hatzs-services__item {
  width: 32%;
  margin-right: 5px 0px;
  margin-bottom: 30px;
  padding: 20px 24px 24px;
  background-color: #f8f8f9;
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1.63;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

@media (max-width: 992px) {
  .hatzs-home-page-services {
    margin-top: 80px;
  }

  .hatzs-services__item {
    width: 49%;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .hatzs-home-page-services {
    margin-top: 60px;
  }

  .hatzs-services__item {
    width: 49%;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .hatzs-home-page-services {
    margin-top: 60px;
  }

  .hatzs-services__item {
    width: 100%;
    margin-bottom: 20px;
  }
}
.hatzs-services__item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.hatzs-services__number {
  color: #0045e6;
  font-weight: 600;
  line-height: 2.5;
  margin-bottom: 16px;
}

.hatzs-services__content {
  margin-bottom: 12px;
}

.hatzs-services__link {
  margin-left: auto;
  margin-top: auto;
  display: flex;
  align-items: center;
  color: #0045e6;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.57;
}
.hatzs-services__link-text {
  opacity: 0;
  transition: opacity 300ms;
}
.hatzs-services__item:hover .hatzs-services__link-text {
  opacity: 1;
}

.hatzs-services__link-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  fill: #c9cede;
  transition: fill 300ms;
}

.hatzs-services__item:hover .hatzs-services__link-icon {
  fill: #0045e6;
}

.hatzs-services__item:not(:hover) .hatzs-services__link-icon {
  opacity: 1;
}

*,
:after,
:before {
  box-sizing: border-box;
}

/* USAMA NEW CSS END*/

/* USAMA NEW CSS END*/
/* body {
  border: 1px solid red;
} */
.container {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1200px;
}

.hatzs-form-wrapper {
  background-color: #1e1d28;
  padding-bottom: 130px;
  padding-top: 110px;
}
.hatzs-inbox {
  width: 54%;
}
.hatzs-contactus {
  display: flex;
  gap: 20px;
  max-width: 1100px;
  width: 100%;
}
.hatzs-form-heading h3 {
  color: white;
  font-size: 2.5rem;
  margin-left: 12px;
  margin-bottom: 12px;
}

#hatzs-form-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  align-content: center;
  flex: 0 0 55%;
  position: relative;
  z-index: 1;
}
.hatzs-form-headingh3 {
  font-size: 2.857rem;
  color: white;
}
.hatzs-input {
  position: relative;
  margin: 1em;
  width: calc(50% - 2em);
  height: 80px;
}

.massage {
  width: calc(100% - 2em);
}
.company {
  width: calc(100% - 2em);
}

textarea {
  border: none;
  resize: none;
}

.input__field {
  position: absolute;
  margin: 0.8em 0;
  padding: 0.4em;
  width: 100%;
  height: calc(100% - 1.6em);
  border: none;
  border-radius: 0;
  background: transparent;
  color: white;
  font-size: 1.55em;
  font-weight: bold;
  /* -webkit-appearance: none; */
}

.input__field:focus {
  outline: none;
}

.input__label {
  position: absolute;
  padding: 0 1em;
  width: 95%;

  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.5em 0;
  width: 100%;
}

.input__label:after {
  content: "";
  position: absolute;
  left: 0;
  width: 90%;
  height: 2px;
  background: #6a7989;
}

.input__label::after {
  bottom: 0;
}

#send-button {
  margin-top: 50px;
  background-color: #fff;
  border-radius: 50px;
  border: none;
  color: #1e1d28;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3 !important;
  margin: 0;
  min-width: 220px;
  outline: 0;
  padding: 20px !important;
  text-align: center;
  text-decoration: none;
}

#send-button:focus {
  outline: 0;
  background-color: blue;
  color: white;
}
.hatzs-checkbox {
  display: flex;
  width: 100%;
  padding-left: 12px;
}
.hatzs-checkbox p {
  color: white;
}

.hatzs-file-attachment p {
  color: white;
}

.hatzs-form__info {
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.75rem;
  width: 100%;
  line-height: 1.67;
  padding-left: 12px;
}
.hatzs-send-formbutton {
  padding-left: 12px;
}

.hatzs-file-attachment img {
  background-color: white;
  padding: 5px 16px;
  border-radius: 50%;
}
.hatzs-file-attachment {
  display: flex;
  gap: 10px;
  padding-left: 12px;
}

.img:hover {
  background-color: blue;
  cursor: pointer;
}
.hatzs-file-attachment:hover img {
  filter: brightness(80%) saturate(200%) hue-rotate(200deg);
}
/* tesmoinal section */

#hatzs-testimonial-section {
  width: 100%;
}

.hatzs-testimonial__author img {
  border-radius: 50%;
  flex: 0 0 80px;
  height: 80px;
  margin: 0 auto 20px;
  vertical-align: top;
  width: 80px;
}
.hatzs-testimonial__text:after {
  background-image: url(/assets/qutemarkscontactsection.svg);
  background-size: cover;
  content: "";
  height: 20px;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: 25px;
  width: 20px;
}
.hatzs-testimonial__text {
  color: #c0bfc3;
  margin: 0 0 30px;
  padding-top: 50px;
  position: relative;
}
.hatzs-testimonial__text p {
  color: #c0bfc3;
  line-height: 1.5rem;
}

.hatzs-testimonial__author-name {
  font-weight: 700;
  color: #ffff;
  margin: 20px 0px;
}

.hatzs-testimonial__position {
  font-weight: 700;
  color: white;
}
.hatzs-testimonial__author {
  margin: 40px 0px 50px 0px;
}

.swiper-horizontal {
  touch-action: pan-y;
  padding: 20px !important;
  width: 50%;
  background-color: #2c2a39;
  margin-top: 50px;
  max-width: 450px;
  width: 100%;
  background-size: 20px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 50px 54px;
  position: relative;
  text-align: center;
  height: 500px;
}
.swiper {
  position: relative;
  overflow: hidden;
  list-style: none;
  z-index: 1;
  display: block;
}

.hatzs-swiper-section {
  position: relative;
  width: 47%;
  /* padding-right: 30px; */
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px !important;
  top: 70% !important;
  left: 0;
  width: 100%;
}
.swiper-pagination-bullet {
  margin-top: 20px !important;
  color: #fff;
  border: 1px solid white !important;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: white !important;
  border: 1px solid white !important;
}

/* blackline */

.hatzs-contact-us__gradient {
  visibility: visible;
  -webkit-transform: scale(1);
  opacity: 1;
  transform: scale(1);
}
.contact-usWrap--black {
  background-color: #1e1d28;
  border-top: none;
  padding-bottom: 60px;
}
.hatzs-contact-usWrap {
  border-top: 1px solid rgba(30, 29, 40, 0.15);
  margin-top: 110px;
  padding: 60px 20px 0;
}
.hatzs-contact-us {
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* padding: 0px 20px; */
}
.contact-us {
  color: #fff;
  overflow: hidden;
}
.contact-usWrap--black {
  background-color: #1e1d28;
  border-top: none;
  padding-bottom: 60px;
}
.contact-us__gradient.blue--vertical {
  background-color: #0045e6;
}
.contact-us__gradient {
  align-self: stretch;
  flex: 0 0 10px;
  margin-right: 30px;
  min-height: 90px;
}
.contact-us__title {
  color: white;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.33;
  margin: 0 50px 0 0;
  max-width: 600px;
}
.link__text {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;

  padding-right: 16px;
}
.contact-us .link__text {
  line-height: 1.5;
}
.contact-us .link {
  white-space: nowrap;
  text-align: right;
  text-decoration-line: none;
}
.link__icon svg {
  background-color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.line-vector {
  display: flex;
  align-items: center;
}
.hatzs-black-line {
  background-color: #1e1d28;
  width: 100%;
}
.hatzs-evlo {
  display: flex;
}
@media screen and (max-width: 1020px) {
  .hatzs-contactus {
    flex-wrap: wrap;
  }
  .hatzs-inbox {
    width: 100%;
  }
  .hatzs-swiper-section {
    width: 100%;
    padding-right: 0px;
  }
  .swiper-pagination-bullet {
    margin-top: 137px !important;
  }
  .inbox {
    padding-left: 30px;
  }
  .send-formbutton {
    display: flex;
    display: flex;
    width: 90%;
    justify-content: center;
  }
  .contact-usWrap--black {
    width: 93% !important;
  }
  .swiper-horizontal {
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (max-width: 676px) {
  .hatzs-swiper-section {
    display: none;
  }
  .swiper-container {
    height: 631px !important;
  }
  .hatzs-contact-us {
    flex-wrap: wrap;
    padding: 0px 0px;
  }
  .owc-content {
    max-width: 400px;
    margin-left: 20px;
    width: 100%;
  }
  .ow-card {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hatzs-contactus {
    flex-wrap: wrap !important;
    /* width: 90%; */
  }

  .send-formbutton {
    display: flex;

    width: 90%;
    justify-content: flex-start;
  }
  .contact-us__title {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
  }
  .contact-usWrap--black {
    width: 90% !important;
  }

  .contact-us .link__text {
    line-height: 1.5;
  }
  .link__text {
    font-weight: 200;
    padding-right: 4px;
  }
  .line-vector {
    width: 100%;
    justify-content: center;
  }
  .link__text {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding-right: 16px;
  }
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-backface-hidden .haaving {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hatzs-swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
}
.hatzs-swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.hatzs-second-swiper {
  touch-action: pan-y;
  padding: 20px !important;
  width: 50%;
  background: #e8fdff !important;

  margin-top: 50px;
  max-width: 980px !important;
  width: 100%;
  background-size: 20px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 50px 54px;
  position: relative;
  text-align: center;
  height: 500px;
}
/* work section */
.hatzs-work-heading {
  width: 100%;
  text-align: center;
}

.hatzs-work-heading h3 {
  color: #1d1f21;
  font-size: 2rem;
}
.hatzs-work-heading p {
  color: #595959;
  font-size: 1.125rem;
}

.owc-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .owc-content {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .owc-content {
    padding-bottom: 4.563rem;
  }
}
.img-fluid,
.img-thumbnail {
  max-width: 100%;
  height: auto;
}

.owc-content h3 {
  margin-top: 2.5rem;
  font-size: 15px;
  text-align: inherit;
  color: #3d3d3d;
  margin-bottom: 0.75rem;
  line-height: 1.5rem;
}
.owc-content p {
  line-height: 1.5rem;
  font-size: 1.125rem;
  color: #4f4f4f;
  margin-bottom: 2.125rem;
}
@media (min-width: 992px) {
  .owc-content p {
    min-height: 138px;
  }
}
.owc-content .learn-more {
  font-size: 1.125rem;
  color: #3d3d3d;
  text-decoration-line: none;
}
.learn-more {
  display: flex;
  align-items: center;
  gap: 12px;
}
.icon-long-arrow-alt-right-solid:before {
  content: "\e9ad";
  font-size: 1.125rem;
  color: #3d3d3d;
}

.owc-thumbnail .ows-banner-img {
  max-width: 687px;
  width: 100%;
}
.owc-thumbnail {
  display: flex;
}

.swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;

  position: absolute;
  border-radius: 50%;
  color: white !important;
  width: 60px !important;
  height: 60px !important;
  z-index: 4;
  background: #30b795 !important;
  top: calc(50% - 48px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.swiper-button-prev:after {
  content: "prev";
  position: absolute;
  border-radius: 50%;
  color: white !important;
  width: 60px !important;
  height: 60px !important;
  z-index: 4;
  background: #30b795 !important;
  top: calc(50% - 48px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.hatzs-work {
  width: 100%;
  max-width: 1200%;
  position: relative;
}
.owc-content {
  max-width: 300px;
  width: 100%;
  padding: 20px;
}
.img-responsive {
  width: 100%;
  max-width: 100%;
}

.swiper-container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #e8fdff !important;
}
.hatzs-swiper_wrap {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  text-align: left;
}
.swiper-button-next {
  margin-top: 0px;
  position: absolute;
  top: 50%;
  right: -40px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
}
.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: -40px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
  margin-top: 0px;
}
.hatzs-swiper_wrap.hatzs-swiper-horizontal {
  touch-action: pan-y;
  padding: 20px !important;
  width: 50%;

  margin-top: 50px;
  max-width: 450px;
  width: 100%;
  background-size: 20px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 50px 54px;
  position: relative;
  text-align: center;
  height: 500px;
}
.ow-card {
  display: flex;
  padding: 70px;
}
.swiper-button-next {
  right: 10px;
  left: 95% !important;
}
.owc-content {
  text-align: justify;
}

/* Hatza container */
.hatza-container {
  position: relative;
  width: 100%;
  max-width: 1100px; /* Updated maximum width to 1100px */
  height: auto;
  /* border: 1px solid #ccc; */
  overflow: hidden;
}

/* Hatza slider */
.hatza-slider {
  display: flex;
  width: 1200%; /* Width of hatza slider = number of slides * 100% */
  transition: transform 0.3s ease-in-out;
}

/* Individual slide */
.slide {
  max-width: 1135px;
  width: 100%;
  background: aliceblue;
}

/* Arrow buttons */
.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  width: 60px;
  height: 60px;

  background: #30b795 !important;
  top: calc(72% - 40px);
}

.arrow-button.left {
  left: 5px;
}

.arrow-button.right {
  right: 4%;
}

/* Name */
.name {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

/* Responsive adjustments */
@media screen and (max-width: 1100px) {
  .hatza-container {
    max-width: 100%; /* Adjusted to take full width on smaller screens */
  }
}
@media screen and (max-width: 1200px) {
  .hatza-container {
    max-width: 100%; /* Adjusted to take full width on smaller screens */
  }
}
@media screen and (max-width: 600px) {
  .hatza-container {
    height: auto;
  }

  .slide {
    max-width: 1135px;
    width: 100%;
    background: aliceblue;
  }
}
@media screen and (max-width: 600px) {
  .ow-card {
    display: flex;
    padding: 30px;
  }
}
